# --- Paramètres de langue (Français) ---
tone set: France
input language: French
language 1: lang_fr.txt
language: 1
web language: 1

# --- Paramètres de Date et Heure (Europe/Paris) ---
time format: 1
date format: 11
time zone name: Custom
time zone minutes: -60
dst start relative date: 1
dst start month: 3
dst start week: 5
dst start day: 1
dst end relative date: 1
dst end month: 10
dst end week: 4
dst end day: 1
dst start hour: 2
dst end hour: 3
dst minutes: 60
